.signup {
    width: 100%;
    height: 100%;
}

.signup-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
}

/* @media (min-width:320px) {
    .sigup-img{
        visibility: hidden;
    }
} */

.overlay {
    background-color: rgba(14, 27, 26, 0.5);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.signup-form {
    position: fixed;
    width: 100%;
    padding: 6em 1em;
    z-index: 50;
}

.form {
    margin: 0 auto;
    background-color: rgba(20, 24, 23, 0.9);
    color: #fff;
    max-width: 450px;
    height: 600px;
    padding: 4em 2.5em;
}
.error{
    color:#fff;
}
form {
    margin-top: 2em;
}

.mb-3,
span {
    color: grey;
}

.help {
    margin-left: 10em;
}
.submit{
    background-color:#bd8a1c;
    width:100%;
    border-radius: 5px;
    color: #fff;
}