.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  z-index: 100;
  position: absolute; 
  padding: 1em;
}

.header-title {
  color: #bd8a1c;
  font-size: 30px;
  font-weight: 20px;
  cursor: pointer;
}
.background{
  background-color: #bd8a1c;
  color: #fff;
}
.background:hover{
  background-color: #f7d58b;
  color: #000;
  
}